<component name="ArtifactManager">
  <artifact type="jar" build-on-make="true" name="server">
    <output-path>$PROJECT_DIR$/out/artifacts/server</output-path>
    <root id="archive" name="server.jar">
      <element id="module-output" name="server-freeroot" />
    </root>
  </artifact>
</component>